@page
@model ClickCart.Pages.CartModel
@{
	ViewData["Title"] = "Cart";
	Layout = "_UserLayout";
	
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Cart | E-Shopper</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/prettyPhoto.css" rel="stylesheet">
	<link href="css/price-range.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head><!--/head-->

<body>
	<!-- Pop-up reminder -->
	<div id="packageReminder" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Bạn có muốn nâng cấp gói không?</h4>
				</div>
				<div class="modal-body">
					<p>Nhận nhiều ưu đãi hơn khi nâng cấp gói của bạn ngay hôm nay!</p>
					<a href="#" class="btn btn-primary" id="viewPackages">Xem các gói</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner giới thiệu gói -->
	<div class="container text-center" style="margin-top: 20px;">
		<a href="#" id="packageBanner">
			<img src="~/common/images/banner/BannerSale.jpg" alt="Gói ưu đãi" class="img-responsive" style="max-width: 100%; height: auto;">
		</a>
	</div>

	<script>
		$(document).ready(function () {
			console.log("Document loaded");
			if ($("#packageReminder").length) {
				console.log("Popup found, showing...");
				$('#packageReminder').modal('show');
			} else {
				console.log("Popup not found!");
			}
		});
	</script>


	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Giỏ hàng</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Sản phẩm</td>
							<td class="description"></td>
							<td class="price">Giá</td>
							<td class="quantity">Số lượng</td>
							<td class="total">Tổng tiền</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.CartItems)
						{
							<tr>
								<td class="cart_product">
									<a href=""><img width="110px" height="110px" src="/common/images/products/@item.Product.ImageUrl" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.Product.ProductName</a></h4>
								</td>
								<td class="cart_price">
									<p>@item.Product.Price VND</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<form method="post" asp-page-handler="Update">
											<input type="hidden" name="cartItemId" value="@item.CartItemID" />
											<input class="cart_quantity_input" type="number" name="quantity" value="@item.Quantity" min="1" />
											<button type="submit">Cập nhật</button>
										</form>
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">@(item.Product.Price * item.Quantity) VND</p>
								</td>
								<td class="cart_delete">
									<form method="post" asp-page-handler="Delete">
										<input type="hidden" name="cartItemId" value="@item.CartItemID" />
										<button type="submit" class="cart_quantity_delete"><i class="fa fa-times"></i></button>
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Bạn muốn làm gì tiếp theo?</h3>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Tổng tiền <span>@Model.TotalPrice VND</span></li>
						</ul>
						<a class="btn btn-default check_out" href="checkout.html">Thanh toán</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Bạn muốn làm gì tiếp theo?</h3>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>71.600 VND</span></li>
							<li>Shipping Cost <span>20.000 VND</span></li>
							<li>Total <span>91.600 VND</span></li>
						</ul>
						<a class="btn btn-default check_out" href="checkout.html">Thanh toán</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
